@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: head;
  src: url("./assets/Gilroy-Medium.ttf");
}

.font {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.word{
  word-spacing: 100px;
}

*::-webkit-scrollbar {
  display: none;
}
.background{
  background: rgb(170,84,255);
background: linear-gradient(90deg,  rgba(135,83,255,1) 30% rgba(170,84,255,1) 65%,);
}
.headFont{
  font-family: head;
}

.opac>p{
  opacity: 0.6;
}

